* {
  padding: 0;
  margin: 0;
}
.main {
  width: 100%;
  height: auto;
  display: flex;
}
.container {
  width: 100%;
  padding: 0 100px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: 40px;
}
.img {
  width: 500px;
  height: auto;
}
